In [1]:
import pandas as pd

In [2]:
irisdf = pd.read_csv('iris_csv.csv')

In [3]:
#Q1
missing_values = irisdf.isnull().sum()
print(missing_values)

sepallength    0
sepalwidth     0
petallength    0
petalwidth     0
class          0
dtype: int64

In [16]:
#Q2
duplicate_rows = irisdf.duplicated()
print(irisdf[duplicate_rows])

     sepallength  sepalwidth  petallength  petalwidth           class
34           4.9         3.1          1.5         0.1     Iris-setosa
37           4.9         3.1          1.5         0.1     Iris-setosa
142          5.8         2.7          5.1         1.9  Iris-virginica

In [14]:
#Q3
mean_sepallength = irisdf['sepallength'].mean()
print("Mean Sepal Length:", mean_sepallength)

Mean Sepal Length: 5.843333333333334

In [17]:
#Q4
duplicate_rows_after = irisdf.duplicated()
print(irisdf[duplicate_rows_after])

     sepallength  sepalwidth  petallength  petalwidth           class
34           4.9         3.1          1.5         0.1     Iris-setosa
37           4.9         3.1          1.5         0.1     Iris-setosa
142          5.8         2.7          5.1         1.9  Iris-virginica

In [18]:
#Q5
irisdf_no_duplicates = irisdf.drop_duplicates()
print(irisdf_no_duplicates)

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[147 rows x 5 columns]

In [19]:
#Q6
irisdf.loc[34, 'sepal_width'] = pd.NA
print(irisdf.loc[30:40])

    sepallength  sepalwidth  petallength  petalwidth        class  sepal_width
30          4.8         3.1          1.6         0.2  Iris-setosa          NaN
31          5.4         3.4          1.5         0.4  Iris-setosa          NaN
32          5.2         4.1          1.5         0.1  Iris-setosa          NaN
33          5.5         4.2          1.4         0.2  Iris-setosa          NaN
34          4.9         3.1          1.5         0.1  Iris-setosa          NaN
35          5.0         3.2          1.2         0.2  Iris-setosa          NaN
36          5.5         3.5          1.3         0.2  Iris-setosa          NaN
37          4.9         3.1          1.5         0.1  Iris-setosa          NaN
38          4.4         3.0          1.3         0.2  Iris-setosa          NaN
39          5.1         3.4          1.5         0.2  Iris-setosa          NaN
40          5.0         3.5          1.3         0.3  Iris-setosa          NaN

In [21]:
irisdf.loc[34]

sepallength            4.9
sepalwidth             3.1
petallength            1.5
petalwidth             0.1
class          Iris-setosa
sepal_width            NaN
Name: 34, dtype: object

In [24]:
#Q7
rows_with_na = irisdf[irisdf.isna().any(axis=1)]
print(rows_with_na)

Empty DataFrame
Columns: [sepallength, sepalwidth, petallength, petalwidth, class, sepal_width]
Index: []

In [23]:
#Q8
irisdf.dropna(inplace=True)
print(irisdf)

Empty DataFrame
Columns: [sepallength, sepalwidth, petallength, petalwidth, class, sepal_width]
Index: []